@font-face {
    font-family:Poppins;
    src: url(Poppins-Regular.ttf);
}

* {
    background-color:antiquewhite;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
}

h1 {
    font-size: 3rem;
}


button {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 125px;
    font-size: 1.1rem;
    font-weight: 600;
}

button:hover {
    background-color: orangered;;
}

button:active {
    background-color: black;
    color:orangered;
}

button:disabled {
    background-color: antiquewhite ;
    color: gray;
}